body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("image.jpg");
}

.container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.login-form {
    background-color: hsl(129, 23%, 59%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #FF69B4; /* Simple Gradient Rounded Square Diamond Shape */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #FFC5C5;
}